//genegal colors
@dark: #30393f;
@orange: #e48121;
@grey-dark: #a8acaf;
@grey-light: #d6d7d9;
@light: #f8f9f9;
@p_texts: #86969e;
@h_texts: #30393f;
@copyright: #272e32;
@texts_on_dark_phone: #fff;
@hover_texts: #72838a;
@hover_blocks: #262d32;

//font-styles
@safe-font: tahoma;

body{
  margin:0;
  padding:0;
  font-family: @safe-font;
}
header, footer{
  background-color: @dark;
  color: @texts_on_dark_phone;
}
header a, footer a{
  color: @texts_on_dark_phone;
}
h1, h2, h3, h4{
  color:@h_texts;
}
.copyright{
  background-color: @copyright;
  color: @texts_on_dark_phone;
}
