//genegal colors
@dark: #30393f;
@orange: #e48121;
@grey-dark: #a8acaf;
@grey-light: #d6d7d9;
@light: #f8f9f9;
@p_texts: #86969e;
@h_texts: #30393f;
@copyright: #272e32;
@texts_on_dark_phone: #fff;
@hover_texts: #72838a;
@hover_blocks: #262d32;

//font-styles
@safe-font: tahoma, serif;

body{
  margin:0;
  padding:0;
  font-family: @safe-font;
}
header, footer{
  background-color: @dark;
  color: @texts_on_dark_phone;
}
header a, footer a{
  color: @texts_on_dark_phone;
  text-decoration: none;
}
main a{
  color: @p_texts;
  text-decoration: none;
}
.orange {
  color: @orange;
}
h1, h2, h3, h4, h5{
  color:@h_texts;
  font-weight: bold;
  text-transform: uppercase;
}
h1{
  font-size: 48px;
  text-align: center;
}
h2{
  font-size: 48px;
  text-align: center;
}
h3, .slider .subtitle{
  font-size: 24px;
}
h4{
  font-size: 18px;
}
h5{
  font-size: 16px;
  text-align: center;
}
p{
  font-size: 18px;
}
input, textarea{
  font-size: 18px;
  font-style: italic;
  font-family: @safe-font;
  border:none;
  border-bottom: 1px solid @p_texts;
}
label{
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}
ul{
  margin: 0;
  padding: 0;
}
form{
  display: flex;
  flex-direction: column;
  width: 540px;
}
.slider{
  text-transform: uppercase;
}
.subtitle {
  text-align: center;
}
.container{
  margin: 0 auto;
  max-width: 1510px;
  padding: 60px;
}
.flex-boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.copyright{
  background-color: @copyright;
  color: @texts_on_dark_phone;
}
.work{
  width:460px;
  height:220px;
  background-color: @dark;
}
.one-advantage{
  width:280px;
}
#our_work{
  background-color: @light;
  background-image: url("images/Landing_tech_03.jpg");
  border-bottom: 2px solid @p_texts;
}
#general_slider, footer{
  border-bottom: 4px solid @orange;
}
#general_slider{
  background-image: url("images/Landing_tech_02.jpg");
}
